<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Portugal</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">  
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">              
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">           
    <link rel="stylesheet" href="css/bootstrap.min.css">                                    
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <link rel="stylesheet" href="css/main.css"> 
    
      </head>

      <body>
        <div class="rm-main-content" id="top">
            <div class=""></div>    
            <div class="rm-top-bar" id="rm-top-bar">
                <div class="">
                    <div class="row" onmouseover="document.querySelector('#home').style.display = 'inline';document.querySelector('.theme').style.display = 'inline-block';document.querySelector('#dst').style.display = 'inline-block';document.querySelector('.user2').style.display = 'inline-block';" onmouseout="document.querySelector('#home').style.display = 'none';document.querySelector('#dst').style.display = 'none';document.querySelector('.user2').style.display = 'none';document.querySelector('.theme').style.display = 'none';">
                        <nav class="navbar navbar-expand-lg narbar-light">
                            <div id="mainNav" class="collapse navbar-collapse rm-bg-white">
                                <ul class=" ml-auto">
                                    <li class="nav-item">
                                        <button class="nav-btn"></button>
                                        <a id="home" class="nav-link " href="#top">Portugal</a>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-btn"></button>
                                        <a id="dst" class="nav-link" href="#rm-section-2">Places</a>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-btn" ></button>
                                        <a class="nav-link user2" href="/logout">Logout</a>
                                    </li>                                
                                    <li class="toggle-switch nav-item" >
                                        <button class="nav-btn" ></button>
                                        <div class="theme nav-link" id="root">
                                            <button id="toggleSwitch"></button>
                                        </div>
                                    </li>
                                </ul>
                            </div>                            
                        </nav>
                    </div> 
                </div> 
            </div>

        <div class="mx-auto">
            <section class="">
                <div class=" rm-banner-bg">
                    <div class="col-xs-12">
                        <div class="rm-banner-header">
                            <h1 style="font-size: 4rem;" class="text-uppercase rm-banner-title">Portugal</h1>
                        </div>    
                    </div>                       
                    <div class="rm-banner-overlay-1"></div>
                </div>                     
            </section>

            <section class="p-5 rm-container-outer rm-bg-gray">            
                <div class="">
                    <div class="row">
                        <div class="col-xs-12 mx-auto rm-about-text-wrap text-center">                        
                            <p class="mb-4">Portugal is a southern European country on the Iberian Peninsula, bordering Spain. Its location on the Atlantic Ocean has influenced many aspects of its culture: salt cod and grilled sardines are national dishes, the Algarve's beaches are a major destination and much of the nation’s architecture dates to the 1500s–1800s, when Portugal had a powerful maritime empire.</p>
                            <a target="_blank" style="color:skyblue" href="https://www.youtube.com/watch?v=u23CFaxPy_g">Watch Video</a>
                        </div>
                    </div>
                </div>            
            </section>
            
            <div class="rm-container-outer" id="rm-section-2">
                <div class= "rm-slideshow-section">
                    <section >

                        <div onmouseover="var head = document.querySelector('#funchal_head');head.style.display='none';document.querySelector('#funchal_desc').style.display='block';document.querySelector('.funchal_bg').style.filter='blur(2px)';" onmouseout="document.querySelector('#funchal_head').style.display='block';document.querySelector('#funchal_desc').style.display='none';document.querySelector('.funchal_bg').style.filter='none';" class="dest_wrap">
                            <img id="funchal_bg" src="img/funchal/8.jpg">
                            <h1 id="funchal_head">FUNCHAL</h1>
                            <div id="funchal_desc" class="funchal_desc">
                                <h2 class="top_1">Funchal</h2>
                                <p class="top">Funchal is the vibrant capital of Madeira with several historic monuments, an abundance of colorful and exotic flora is apparent in the parks and gardens, amazing viewpoints, and its nearby beaches and swimming pools.</p>
                                <a href="funchal.html" class="w3-card dest_btn text-uppercase rm-btn rm-btn-white rm-btn-white-highlight">Learn More</a>
                            </div>
                        </div>                        

                    </section>
                    <section >

                        <div onmouseover="var head = document.querySelector('#lagos_head');head.style.display='none';document.querySelector('#lagos_desc').style.display='block';document.querySelector('.lagos_bg').style.filter='blur(3px)';" onmouseout="document.querySelector('#lagos_head').style.display='block';document.querySelector('#lagos_desc').style.display='none';document.querySelector('.lagos_bg').style.filter='none';" class="dest_wrap">
                            <img id="lagos_bg" src="./img/lagos/4.jpg">
                            <h1 id="lagos_head">LAGOS</h1>
                            <div id="lagos_desc">
                                <h2 class="top_1">Lagos</h2>
                                <p class="top">Lagos is one of the most visited cities in the Algarve and Portugal, due to its variety of tourist-friendly beaches, rock formations (Ponta da Piedade), bars, restaurants and hotels, renowned for its vibrant summer nightlife and parties.</p>
                                <a href="lagos.html" class="w3-card dest_btn text-uppercase rm-btn rm-btn-white rm-btn-white-highlight">Learn More</a>
                            </div>
                        </div>                        

                    </section>
                </div>
                <div class= "rm-slideshow-section">
                    <section >

                        <div onmouseover="var head = document.querySelector('#lisbon_head');head.style.display='none';document.querySelector('#lisbon_desc').style.display='block';document.querySelector('.lisbon_bg').style.filter='blur(2px)';" onmouseout="document.querySelector('#lisbon_head').style.display='block';document.querySelector('#lisbon_desc').style.display='none';document.querySelector('.lisbon_bg').style.filter='none';" class="dest_wrap">
                            <img id="lisbon_bg" src="img/lisbon/13.jpg">
                            <h1 id="lisbon_head">LISBON</h1>
                            <div id="lisbon_desc" class="funchal_desc">
                                <h2 class="top_1">Lisbon</h2>
                                <p class="top">Lisbon, Portuguese Lisboa, city, port, capital of Portugal, and the centre of the Lisbon metropolitan area. Located in western Portugal on the estuary of the Tagus (Tejo) River, it is the westernmost capital city in continental Europe and serves as the country’s chief port, largest city, and commercial, political, and tourist centre.</p>
                                <a href="lisbon.html" class="w3-card dest_btn text-uppercase rm-btn rm-btn-white rm-btn-white-highlight">Learn More</a>
                            </div>
                        </div>         
                    </section>
                    <section >

                        <div onmouseover="var head = document.querySelector('#ponta_head');head.style.display='none';document.querySelector('#ponta_desc').style.display='block';document.querySelector('.ponta_bg').style.filter='blur(2px)';" onmouseout="document.querySelector('#ponta_head').style.display='block';document.querySelector('#ponta_desc').style.display='none';document.querySelector('.ponta_bg').style.filter='none';" class="dest_wrap">
                            <img id="ponta_bg" src="img/ponta_delgada/24.jpg">
                            <h1 id="ponta_head">PONTA<br>DELGADA</h1>
                            <div id="ponta_desc" class="funchal_desc">
                                <h2 class="top_1">Ponta Delgada</h2>
                                <p class="top">Ponta Delgada, on São Miguel Island, is the capital of the Azores archipelago of Portugal. The striking, 3-arched city gates and the Gothic-style Church of St. Sebastian are near the harbor. The Convent and Chapel of Our Lady of Hope houses a revered image of Christ.</p>
                                <a href="ponta_delgada.html" class="w3-card dest_btn text-uppercase rm-btn rm-btn-white rm-btn-white-highlight">Learn More</a>
                            </div>
                        </div>         
                    </section>      
                </div>
                <div class= "rm-slideshow-section">
                    <section >

                        <div onmouseover="var head = document.querySelector('#portimao_head');head.style.display='none';document.querySelector('#portimao_desc').style.display='block';document.querySelector('.portimao_bg').style.filter='blur(2px)';" onmouseout="document.querySelector('#portimao_head').style.display='block';document.querySelector('#portimao_desc').style.display='none';document.querySelector('.portimao_bg').style.filter='none';" class="dest_wrap">
                            <img id="portimao_bg" src="img/portimao/1-1.jpg">
                            <h1 id="portimao_head">PORTIMAO</h1>
                            <div id="portimao_desc" class="funchal_desc">
                                <h2 class="top_1">Portimao</h2>
                                <p class="top">Portimão is a port city in the Algarve region of southern Portugal. It’s known for its old quarter, busy marina and proximity to many beaches. Museu de Portimão is housed in a restored 19th-century cannery, with displays on local history. The Gothic-style Nossa Senhora da Conceição church has azulejo tiles.</p>
                                <a href="portimao.html" class="w3-card dest_btn text-uppercase rm-btn rm-btn-white rm-btn-white-highlight">Learn More</a>
                            </div>
                        </div>       

                    </section>
                    <section >

                        <div onmouseover="var head = document.querySelector('#porto_head');head.style.display='none';document.querySelector('#porto_desc').style.display='block';document.querySelector('.porto_bg').style.filter='blur(2px)';" onmouseout="document.querySelector('#porto_head').style.display='block';document.querySelector('#porto_desc').style.display='none';document.querySelector('.porto_bg').style.filter='none';" class="dest_wrap">
                            <img id="porto_bg" src="img/porto/5.jpg">
                            <h1 id="porto_head">PORTO</h1>
                            <div id="porto_desc" class="funchal_desc">
                                <h2 class="top_1">Porto</h2>
                                <p class="top">Porto’s Ribeira is one of the most popular neighborhoods, lined with café after restaurant after café and offering spectacular views, including sunsets over Porto’s bridges.</p>
                                <a href="porto.html" class="w3-card dest_btn text-uppercase rm-btn rm-btn-white rm-btn-white-highlight">Learn More</a>
                            </div>
                        </div>       

                    </section>
                </div>            
            </div>        

            <footer style="background-color:skyblue" class="rm-container-outer">
                <p class="mb-0">Copyright ©  PORTUGAL - <span class="rm-current-year">2021</span>
            </footer>
        </div>
    </div> 

    <script src="js/jquery.js"></script>           
    <script src="js/popper.js"></script>                  
    <script src="js/bootstrap.js"></script>                
    <script src="js/jquery.singlePageNav.js"></script>     
    <script src="slick/slick.min.js"></script>                
    <script src="js/jquery.scrollTo.js"></script>         
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="js/ThemeToggle.js"></script>
    <script src="js/ToggleScroll.js"></script>   
    <script src="js/index.js"></script>

</body>
</html>